body {
	background: colorBg
	color: colorText
	font-family: fontFamily
	font-size: fontSize
	font-weight: fontWeight
	line-height: lineHeight
}

img {
	max-width: 100%
}

.container {
	max-width: containerWidth + gutterWidth
}